.puppies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    flex-wrap: wrap;
  
}

.card {
    height: 500px;
    width: 1000px;
    background-color: rgb(231, 194, 73);
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10%;
    margin-top: 30px;
   
}

.card img {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    margin-top: 7%;
}
.informations p{
    margin: 10px;
}
.informations{
 
    width: 500px;
    margin-left: 3%;
}
.informations h2{
    font-size: 50px;
    color: rgb(160, 99, 19);
}
.informations p {
    font-size: 30px;
}
.background-id{
    height: 100%;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    border: none;
    height: 60px;
    width: 100px;
    font-size: large;
    font-weight: bold;
    color: rgb(160, 99, 19);
    border-radius: 20px;

}
button:hover{
    cursor: pointer;
}
